    body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .background {
        background: linear-gradient(300deg, #ad7442, #ffe2ab);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
    }

    .square {
        background-color: #391406;
        width: 75%;
        margin: 12.5%;
        height: 80% ;
    }

    #linkedin {
        height: 20px;
        width: auto;
        position: absolute;
        right: 14%;
        margin-top: 10px;
    }

    .display {
        display: flex;
        align-items: center;
    }

    #hand {
        height:370px;
        margin: 65px;
        border: 2px solid #d9d9d9;
    }

    .tittle {
        padding-left: 3em;
        padding-bottom: 4em ;
    }

    #r {
        margin: 0;
        font-size: 4.5em;
        font-family: "Oswald", sans-serif;
        color: #ffad64;
        
    }

    #s {
        margin: 0px 0px 0px 2.6em; 
        font-size: 4.5em;
        font-family: "Oswald", sans-serif;
        color: #ffad64;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    div > a {
        text-decoration: none;
        color:#391406;
        background-color: #ffad64;
        padding: 0.3em 3em 0.3em 3em;
        margin-left: 1em;
        border-radius: 1em;
        font-family: "Contrail One", sans-serif;
    }

    #foot {
        text-align: center;
        margin-top: 4em;
        color: white;
        font-family: "Inter", sans-serif;
    }


    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    div > a {
        transition: all 300ms ease-out;
    }
    div > a:hover {
        width: 11rem;
        height: 5rem;
    }

/*resolver bug do botão, colocar imagens que faltam
e adicionar responsividade*/